#ownerDetail {
  .page-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: $main-text-gray-color;
  }

  // .main-container {
  //   position: relative;
  //   margin-top: 60px;
  //   margin-left: 30px;
  //   width: 100%;
  //   background-color: white;
  // }

  .pet-detail-link {
    &:hover {
      text-decoration: none;
    }
  }
  .card {
    border: none;
    padding-top: 8px;
  }

  .card-title {
    font-size: 19px;
    margin: 3px 0;
    color: $main-text-gray-color;
  }

  .card-text {
    font-size: 14px;
    font-weight: 300;
    color: #7e7e7e;
    margin-bottom: 0;
  }

  .card-img-top {
    //height: 300px;
    //background: black;
  }
}
