#petDetail {
  .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: $main-text-gray-color;
  }

  #petDetailInner {
    .petHeader {
    }

    .pet-details {
    }

    .details-section {
    }

    #calendarDetails {
      .booking-form {
        height: 150px;
        .inner-container {
          background-color: lightgrey;
          margin: 10px auto;
          .submit-button {
            margin: 10px auto;
          }
        }
      }
    }

    .mapDetails {
    }
  }
}
