#petDetail {
  .main-container {
    position: relative;
    margin-top: 60px;
    margin-left: 30px;
    width: 100%;
    background-color: white;
  }

  #petDetailInner {
    .petHeader {
    }

    .pet-details {
    }

    .details-section {
      .booking-form {
        background-color: lightgrey;
        top: 10px;
        height: 150px;
        .submit-button {
          margin: 10 auto;
        }
      }
    }

    .calendarDetails {
    }

    .mapDetails {
    }
  }
}
